<section>
  <h2 class="text-xl font-bold mt-6">Sobre mí</h2>
  <p class="text-gray-600 mt-1.5">
    Como Desarrollador de Software y Programador Web, destaco en la creación de
    soluciones eficientes a problemas complejos, colaborando con equipos para
    crear experiencias de usuario excepcionales. Actualmente, trabajo
    principalmente con JavaScript, NextJs, Node.js y MongoDB.
  </p>
</section>
