<section>
  <div class="flex justify-between items-center mt-6">
    <h2 class="text-xl font-bold">Educaci칩n</h2>
  </div>
  <!-- Universidad y A침o -->
  <div class="flex flex-wrap justify-between items-center">
    <h3 class="text-lg font-bold">
      Universidad del Norte Santo Tom치s de Aquino
    </h3>
    <p class="font-sans text-gray-600">2024 - 2027</p>
  </div>
  <!-- Carrera -->
  <p class="text-gray-600">
    Grado en Tecnicatura en Desarrollo y Calidad de Software.
  </p>
  <div class="flex flex-wrap justify-between items-center">
    <h3 class="text-lg font-bold">CoderHouse</h3>
    <p class="font-sans text-gray-600">2022 - 2024</p>
  </div>
  <p class="text-gray-600">Desarrollo Web</p>
  <p class="text-gray-600">JavaScript</p>
  <p class="text-gray-600">ReactJs</p>
  <p class="text-gray-600">Desarrollo Avanzado de Backend</p>
  <p class="text-gray-600">Dise침o y Arquitectura Backend</p>
  <p class="text-gray-600">Testing y Escalabilidad Backend</p>
</section>
