---
import SkillsButton from "./SkillsButton.astro";
---

<section>
  <div class="flex justify-between items-center mt-6">
    <h2 class="text-xl font-bold">Habilidades Duras</h2>
  </div>
  <!-- Universidad y Año -->
  <div class="flex flex-wrap gap-2">
    <SkillsButton text="Español C2" />
    <SkillsButton text="Inglés B1" />
    <SkillsButton text="HTML" />
    <SkillsButton text="CSS" />
    <SkillsButton text="JavaScript" />
    <SkillsButton text="TailwindCSS" />
    <SkillsButton text="BootStrap" />
    <SkillsButton text="Astro" />
    <SkillsButton text="ReactJS" />
    <SkillsButton text="NextJS" />
    <SkillsButton text="NodeJS" />
    <SkillsButton text="MongoDb" />
    <SkillsButton text="ExpressJs" />
  </div>
</section>
