---
import SoftContent from "./SoftContent.astro";
---

<section class="mt-6">
  <h2 class="text-xl font-bold">Habilidades Blandas</h2>
  <SoftContent
    title="Resolución de Problemas"
    description="Capacidad para buscar las causas de los problemas, desglosarlos en partes manejables y encontrar la solución de los mismos, escogiendo una solución viable."
  />
  <SoftContent
    title="Visión Estratégica"
    description="Capacidad para detectar oportunidades y visualizar escenarios de competetividad, así como la habilidad para diseñar acciones y operatividad."
  />
  <SoftContent
    title="Trabajo en Equipo"
    description="Capacidad de promover, fomentar y mantener relaciones de colaboración eficientes con compañeros y otros grupos de trabajo para integrar esfuerzos comunes y resultados tangibles."
  />
  <SoftContent
    title="Autoaprendizaje"
    description="Aptitud y actitud para adquirir nuevos conocimientos técnicos y desarrollar habilidades."
  />
  <SoftContent
    title="Destreza Comunicativa"
    description="Capacidad de expresar las propias ideas y entender las necesidades de los demás."
  />
  <SoftContent
    title="Adaptabilidad"
    description="Capacidad para hacer ajustes sobre la marcha e incorporarlos cuando las condiciones cambien."
  />
  <SoftContent
    title="Aceptación de Riesgos"
    description="Habilidad para aceptar y correr riesgos calculados, necesarios para el aprovechamiento de oportunidades o creación de las mismas."
  />
</section>
